
{% extends "base.html" %}
{% load static %}
{% block content %}
     <main role="main" class="inner cover">
        <h1 class="cover-heading">Oh Great! You are a Player from {{ request.session.area }}, India</h1>
        <div class="all_service_tab">
        {% if not request.session.status %}

            <div class="input-group" id="goDiv">
               <p>Please go back to home and start again. You cant access this page directly.</p>
                </div>
            {% else %}


            <p>Do you know that, In addition to meeting your mortgage requirements, having a comprehensive homeowners policy is a smart way to protect your financial future. You probably know that it pays to repair or rebuild your home after a disaster.</p>
            <label for="agent1" class="hover"><span class="area">Location</span></label>
            <p></p><p></p>
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="The amount of money you are left in the bank.| Premium - Your annual insurance cost."><h3 class="cover-heading">Bank: Rs. {{ request.session.amount }} || Premium: Rs. {{ request.session.house_premium }}</h3></a>
            <h3><a href='{% url "homes" %}' ><img style="height: 50px; width: 50px;" src='{% static "game/images/right.svg" %}'></a></h3>

            {% endif %}
        </div>
        <p class="lead"></p>

    </main>
{% endblock content %}